<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Table of Users</title>
</head>
<body>
<nav class="navbar bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <div>
            <form class="form-inline">
                <strong><span class="navbar-text text-white font-weight-bold"
                              th:text="${loguser.getEmail()}"></span></strong>
                <span class="navbar-text text-white">&nbsp with roles: &nbsp</span>
                <span class="navbar-text text-white"><a th:text="${loguser.rolesToString()}"></a></span>
            </form>
        </div>
        <div>
            <a class="nav-link text-muted" th:href="@{/login}">Logout</a>
        </div>
    </div>
</nav>
<div class="container-fluid bg-light">
    <div class="row">

        <div class="p-0 col-2 bg-body">
            <br/>
            <br/>
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" href="/user" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-sm-10 bg-light"><br><br><br>
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#userstable">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#newuser">New user</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="userstable">
                    <div class="block" style="border: 1px solid #dce0e5;width: 100%;height: auto">
                        <h5 style="margin: 5px 5px">All users</h5>
                    </div>
                    <div class="bg-body">
                        <div class="table-for-admin"
                             style="width: 100%; padding: 10px 10px; border: solid #dee2e6; border-width: 0 1px 1px">
                            <table class="table table-striped table-borderless"
                                   style="width: 100%; border-spacing: 1px; border: solid #dee2e6; border-width: 1px 0 0; ">
                                <thead style="border: solid #dee2e6; border-width: 1px 0 1px;">
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.userId}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.lastname}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.rolesToString()}"></td>
                                    </td>

                                    <td>
                                        <a type="button" class="btn btn-info text-white"
                                           data-bs-toggle="modal"
                                           data-bs-target="#editModal"
                                           th:data-bs-target="${'#editModal'+user.userId}">Edit</a>

                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-info btn-danger text-white"
                                           data-bs-toggle="modal"
                                           data-bs-target="#DELETE"
                                           th:data-bs-target="${'#DELETE'+user.userId}">Delete</a>
                                    </td>
                                    <div class="modal fade" th:id="${'editModal'+user.userId}"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" modal-dialog-centered>
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit
                                                        user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                    </button>
                                                </div>
                                                <form th:method="PUT"
                                                      th:align="center"
                                                      th:action="@{/admin/edit/{id}(id=${user.userId})}"
                                                      th:object="${user}">
                                                    <div class="align-items-center text-center mx-auto">
                                                        <br>
                                                        <div class="col">
                                                            <label for="id"
                                                                   align="center"><b>ID</b></label>
                                                            <input th:name="id" th:type="text"
                                                                   class="form-control"
                                                                   aria-label="Пример отключенного входа"
                                                                   disabled
                                                                   id="id"
                                                                   th:value="${user.userId}"/>
                                                        </div>
                                                        <br>
                                                        <div class="col">
                                                            <label for="username1" align="center"><b>First
                                                                name</b></label>
                                                            <input th:name="name" th:type="text"
                                                                   class="form-control" id="username1"
                                                                   th:value="${user.name}"/>
                                                        </div>
                                                        <br>
                                                        <div class="col">
                                                            <label for="surname0" align="center"><b>Last
                                                                name</b></label>
                                                            <input th:name="lastname" th:type="text"
                                                                   class="form-control" id="surname0"
                                                                   th:value="${user.lastname}"/>
                                                        </div>
                                                        <br>
                                                        <div class="col">
                                                            <label for="age0" align="center"><b>Age</b></label>
                                                            <input th:name="age" th:type="number"
                                                                   class="form-control" id="age0"
                                                                   th:value="${user.age}"/>
                                                        </div>
                                                        <br>
                                                        <div class="col">
                                                            <label for="email0"><b>Email</b></label>
                                                            <input th:name="email" th:type="email"
                                                                   class="form-control" id="email0"
                                                                   th:value="${user.email}"/>
                                                        </div>
                                                        <br>
                                                        <div class="col">
                                                            <label for="password0"><b>Password</b></label>
                                                            <input th:name="password" type="text"
                                                                   class="form-control" id="password0"/>
                                                        </div>
                                                        <br>
                                                        <div class="col">
                                                            <label for="roles"><b>Role</b></label>
                                                            <select multiple
                                                                    class="form-control form-control-sm"
                                                                    id="roles2"
                                                                    name="roles" size="2" required>
                                                                <option th:each="role: ${roles}"
                                                                        th:value="${role.id}"
                                                                        th:selected="${user.roles.contains(role)}">
                                                                    <th:block
                                                                            th:text="${role.name.replaceFirst('ROLE_', '') }">
                                                                    </th:block>
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <br><br>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">
                                                            Edit
                                                        </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" th:id="${'DELETE'+user.userId}"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Delete user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                    </button>
                                                </div>
                                                <form class="modal-body col"
                                                      th:align="center"
                                                      th:action="@{/admin/delete/{id}(id=${user.userId})}"
                                                      th:method="DELETE">
                                                    <div class="align-items-center text-center mx-auto">
                                                        <div class="modal-body col-md">

                                                            <div class="col">
                                                                <label for="id" align="center"><b>ID</b></label>
                                                                <input th:name="id" th:type="text"
                                                                       class="form-control"
                                                                       aria-label="Пример отключенного входа"
                                                                       disabled
                                                                       id="id1"
                                                                       th:value="${user.userId}"/>
                                                            </div>
                                                            <br>
                                                            <div class="col">
                                                                <label for="username2"
                                                                       align="center"><b>First
                                                                    name</b></label>
                                                                <input th:name="username" th:type="text"
                                                                       class="form-control"
                                                                       aria-label="Пример отключенного входа"
                                                                       disabled
                                                                       id="username2"
                                                                       th:value="${user.name}"/>
                                                            </div>
                                                            <br>
                                                            <div class="col">
                                                                <label for="surname2" align="center"><b>Last
                                                                    name</b></label>
                                                                <input th:name="surname" th:type="text"
                                                                       class="form-control"
                                                                       aria-label="Пример отключенного входа"
                                                                       disabled
                                                                       id="surname2"
                                                                       th:value="${user.lastname}"/>
                                                            </div>
                                                            <br>
                                                            <div class="col">
                                                                <label for="age2"
                                                                       align="center"><b>Age</b></label>
                                                                <input th:name="age" th:type="number"
                                                                       class="form-control"
                                                                       aria-label="Пример отключенного входа"
                                                                       disabled
                                                                       id="age2"
                                                                       th:value="${user.age}"/>
                                                            </div>
                                                            <br>
                                                            <div class="col">
                                                                <label for="email2"><b>Email</b></label>
                                                                <input th:name="email" th:type="email"
                                                                       class="form-control"
                                                                       aria-label="Пример отключенного входа"
                                                                       disabled
                                                                       id="email2"
                                                                       th:value="${user.email}"/>
                                                            </div>
                                                            <br>
                                                            <div class="col">
                                                                <label for="roles"><b>Role</b></label>
                                                                <select multiple
                                                                        class="form-control form-control-sm"
                                                                        aria-label="Пример отключенного входа"
                                                                        disabled
                                                                        id="roles1" name="roles"
                                                                        size="2" required>
                                                                    <option th:each="role: ${roles}"
                                                                            th:value="${role.id}"
                                                                            th:selected="${user.roles.contains(role)}">
                                                                        <th:block
                                                                                th:text="${role.name.replaceFirst('ROLE_', '') }">
                                                                        </th:block>
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="newuser">
                <div class="block" style="border: 1px solid #dce0e5;width: 100%;height: auto">
                    <h5 style="margin: 5px 5px">Add new user</h5>
                </div>
                <div class="bg-body">
                    <div class="table-for-admin"
                         style="width: 100%; padding: 10px 10px; border: solid #dee2e6; border-width: 0 1px 1px">

                        <form th:method="POST" align="center" class="offset-md-4 col-md-3 mt-4 mb-4"
                              th:align="center"
                              th:action="@{/admin/new}"
                              th:object="${newuser}">
                            <label for="username"><b>First name</b></label>
                            <input th:name="name" th:type="text" class="form-control" placeholder="First Name" id="username" required/>
                            <br>
                            <label for="lastname"><b>Last name</b></label>
                            <input th:name="lastname" th:type="text" placeholder="Last Name" class="form-control" id="lastname"
                                   required/>
                            <br>
                            <label for="age"><b>Age</b></label>
                            <input th:name="age" th:type="number" placeholder="Age" class="form-control" id="age"/>
                            <br>
                            <label for="email"><b>Email</b></label>
                            <input th:name="email" th:type="email" placeholder="Email" class="form-control" id="email" required/>
                            <br>
                            <label for="password"><b>Password</b></label>
                            <div class="form-group">
                                <div class="input-group" id="show_hide_password">
                                    <input type="password" id="password" name="password"
                                           th:field="*{password}"
                                           class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <br>
                            <label for="roles"><b>Role</b></label>
                            <select multiple class="form-control form-control-sm" id="roles" name="roles"
                                    size="2" required>
                                <option th:each="role: ${roles}" th:value="${role.id}"
                                        th:text="${role.name.replaceFirst('ROLE_', '') }">


                                </option>
                            </select>
                            <br>
                            <button th:type="submit" class="btn btn-success btn-lg" value="Add new user">Add new
                                user
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>